//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 25 18:01:20 2020
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
SCHEMATIC END;

