//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 07 16:02:25 2020
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "CLK" LOCATE = SITE "P94" LEVEL 1;
NET "CLK_IBUF" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

